<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search Songs
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item class="search">
      <ion-input #inputText (ionInput)="onTyping($event)">
        <ion-icon button class="search-icon" name="search-outline"></ion-icon>
      </ion-input>
      <ion-button fill="clear" (click)="clear(inputText)">
        <ion-icon class="x-icon" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="scroll-wra" *ngIf="tracks && tracks.length > 0">
    <ion-list>
      <ion-item *ngFor="let track of tracks; index as i; trackBy: searchTrackBy" button (click)="queue(track)">
        <img [src]="track.album.images[2].url"/>
        <div class="track-name">{{track.name}}</div>
        <div class="track-time">{{track.duration_ms | date:'m:ss'}}</div>
      </ion-item>
    </ion-list>
    <!-- <div class="scroll-wrap">
      <ion-virtual-scroll [items]="tracks" [trackBy]="searchTrackBy" approxItemHeight="81px" [itemHeight]="itemHeightFn">
        <ion-item *virtualItem="let track; let itemBounds = bounds;" button (click)="queue(track)">
          <img [src]="track.album.images[2].url"/>
          <div class="track-name">{{track.name}}</div>
          <div class="track-time">{{track.duration_ms | date:'m:ss'}}</div>
        </ion-item>
      </ion-virtual-scroll>
    </div> --> 
    <ion-infinite-scroll (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more songs...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <app-explore-container *ngIf="!tracks" name="Search Page"></app-explore-container>
</ion-content>
