:host {
    .search {
        border: solid red;
        border-radius: 1rem;
        --padding-start: 0.25rem;
        --padding-end: 0.5rem;
        --inner-padding-end: 0;

        .search-icon {
            height: 1.5rem;
            width: 1.5rem;
            padding: 0.5rem;
        }

        .x-icon {
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    .track-name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .track-time {
        margin-left: auto;
    }

    ion-spinner {
        width: 100%;
        margin-top: 1rem;
        height: 3rem;
    }

    ion-button {
        --color: white;
        --padding-start: 0;
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;
        --border-radius: 1rem;
    }

    // ion-list {
    //     overflow: scroll;
    //     height: 12rem;
    // }
    
    // ion-infinite-scroll {
    //     overflow: scroll;
    //     height: 12rem;
    // }

    ion-item.item-interactive.item-has-focus {
        --highlight-color-focused: none; //no blue underline in search bar
    }

    .scroll-wrap {
        overflow: scroll;
        height: 12rem !important;
    }

    img {
        padding: 0.5rem;
        width: 4.5rem;
    }
}