:host {

    .container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 50%;
    }

    .login-container
    {
        text-align: center;
        left: 0;
        right: 0;
    }
}