<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Test Page"></app-explore-container>
  <div class="buttons">
    <ion-button (click)="devices()">Get Devices</ion-button>
    <ion-button (click)="loginPage()">Login Page</ion-button>
    <ion-card button *ngIf="log" (click)="copyToClipboard()">
      <ion-card-content>
        {{log}}
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
