<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons *ngIf="users && leader" slot="start">
      <ion-button (click)="startQueue(true)">start queue</ion-button>
    </ion-buttons>
    <ion-icon button name="refresh-circle-outline" slot="end" class="refresh" (click)="refresh()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <app-explore-container class="container" name="Front Page"></app-explore-container>
  <div class="buttons">
    <ion-button class="button-width" (click)="session()">{{sessionStatus}} Session</ion-button>
    <ion-button class="button-width" *ngIf="sessionStatus !== 'Create'" (click)="toggleQr()">{{showOrHide}} QR Code</ion-button>    
  </div>
  <div class="qr-container" *ngIf="showQr">
    <img class="qr" [src]="qrUrl"/>
  </div>
  <div *ngIf="queue && queue.length > 0">
    <ion-list>
      <ion-reorder-group [disabled]="!leader" (ionItemReorder)="handleReorder($any($event))">
        <ion-item-sliding [disabled]="!leader" *ngFor="let track of queue; index as i">
          <ion-item class="outer-item">
            <ion-item #user class="track-user" (appColor)="getColor(track[1], user)">{{track[1]}}</ion-item>
            <ion-item class="track-data">
              <img class="track-cover" [src]="track[0].album.images[1].url"/>
              <div class="track-name">{{track[0].artists[0].name}} - {{track[0].name}}</div>
              <div class="track-time">{{track[0].duration_ms | date:'m:ss'}}</div>
            <ion-reorder slot="end">
              <!-- <ion-icon name="pizza"></ion-icon> -->
            </ion-reorder>
            </ion-item>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="success" (click)="removeSong(i)">Delete</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>      
      </ion-reorder-group>
    </ion-list>
  </div>
</ion-content>
<app-player (skipQueue)="startQueue()" [leader]="leader" [queue]="queue"></app-player>
