:host {
    .buttons {
        display: flex;
        justify-content: center;
    }

    .qr {
        height: 10rem;
        width: 10rem;
    }

    .qr-container {
        display: flex;
        justify-content: center;
    }

    // .track {
    //     display: flex;
    // }

    .track-user {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        height: 5rem;
        --inner-padding-end: 0.25rem;
        --padding-start: 0.25rem;
    }

    .track-data {
        display: inline-block;
        width: 100%;
        --padding-start: 0;
        --inner-padding-end: 0;
    }

    .track-name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .track-time {
        margin-left: auto;
    }

    .track-cover {
        padding: 0.5rem;
        padding-left: 0;
        width: 4.5rem;
        margin-left: 1.25rem;
    }

    .refresh {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.25rem;
    }

    ion-item-sliding {
        //height: 2rem;
    }

    .button-width {
        width: 100%;
    }

    .outer-item {
        --inner-padding-end: 0;
    }
}