<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container class="container" name="Front Page"></app-explore-container>
  <div class="buttons">
    <ion-button (click)="createSession()">Create Session</ion-button>
    <div *ngIf="qrUrl">
      <img class="qr" [src]="qrUrl"/>
    </div>
  </div>
  <div *ngIf="queue && queue.length > 0">
    <ion-list>
      <span class="track" *ngFor="let track of queue; index as i; trackBy: searchTrackBy">
        <ion-item class="track-user">{{track[1]}}</ion-item>
        <ion-item class="track-data">
          <img class="track-cover" [src]="track[0].album.images[2].url"/>
          <div class="track-name">{{track[0].artists[0].name}} - {{track[0].name}}</div>
          <div class="track-time">{{track[0].duration_ms | date:'m:ss'}}</div>
        </ion-item>
      </span>
    </ion-list>
  </div>
</ion-content>
