<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
    <ion-buttons *ngIf="users" slot="end">
      <ion-button (click)="startQueue()">start queue</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container class="container" name="Front Page"></app-explore-container>
  <div class="buttons">
    <ion-button (click)="createSession()">Create Session</ion-button>
    <div *ngIf="qrUrl">
      <img class="qr" [src]="qrUrl"/>
    </div>
  </div>
  <div *ngIf="queue && queue.length > 0">
    <ion-list>
      <ion-item-sliding *ngFor="let track of queue; index as i">
        <ion-item>
          <ion-item #user class="track-user" (appColor)="getColor(track[1], user)">{{track[1]}}</ion-item>
          <ion-item class="track-data">
            <img class="track-cover" [src]="track[0].album.images[2].url"/>
            <div class="track-name">{{track[0].artists[0].name}} - {{track[0].name}}</div>
            <div class="track-time">{{track[0].duration_ms | date:'m:ss'}}</div>
          </ion-item>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="success" (click)="removeSong(i)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
<app-player (skipQueue)="startQueue()" [leader]="leader"></app-player>
